.form{
  width: 100%;
  max-width: 300px;
  background-color: var(--bg-color1);
  padding: 2em 1.5em 2.5em;
  border-radius: 0.8em;
  position: relative;
}

.form__x {
  position: absolute;
  top: 0.3em;
  right: 1em;
  cursor: pointer;
  font-size: 1.3rem;
  color: rgb(214, 35, 35);
}

.form__x:hover {
  transform: scale(1.2);
}

.form__tittle {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  color: var(--text-color4);
}

.form__label {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  margin-bottom: 1em;
}

.form__field__name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color4);

}

.form__field {
  font-size: 1.1rem;
  padding: 0.3em 1em;
  background-color: var(--bg-color2);
  border: 1px solid var(--boder-color1);
  font-weight: 300;
  color: var(--text-color2);
}

.form__btn {
  margin-top: 1em;
  width: 100%;
  font-size: 1rem;
  border: none;
  padding: 0.5em 0;
  font-weight: 300;
  background-color: var(--bg-color3);
  color: var(--text-color3);
  border-radius: 0.5em;
  transition: filter 0.2s, transform 0.3s;
  cursor: pointer;
}

.form__btn:hover {
  filter: brightness(1.2);
  transform: scale(1.02);
}
