.modal{
  width: 100%;
  max-width: 300px;
  background-color: var(--bg-color1);
  padding: 2em 1.5em 2.5em;
  border-radius: 0.8em;
  position: relative;
}

.modal__x {
  position: absolute;
  top: 0.3em;
  right: 1em;
  cursor: pointer;
  font-size: 1.5rem;
  color: rgb(214, 35, 35);
}

.modal__x:hover {
  transform: scale(1.2);
}

.modal__tittle {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1em;
  color: var(--text-color4);
}

.modal__message {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1em;
  color: var(--text-color2);
}

.modal__icon__div {
  display: flex;
  justify-content: center;
 }

.modal__icon {
  color: rgb(20, 128, 68);
  font-size: 4rem;
  margin-bottom: 0.2em;
}